@model NewEmployeeManagement.Models.LeaveApplicationModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

   
}


<h1>Approve Leave Updation Form</h1>



<h4>LeaveApplicationModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" id="StartDate" disabled />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" id="EndDate" disabled />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoofDays" class="control-label"></label>
                <input asp-for="NoofDays" class="form-control" disabled />
                <span asp-validation-for="NoofDays" class="text-danger"></span>
            </div>
            
            @* <div class="form-group">
            <label asp-for="Status" class="control-label"></label>
            <input asp-for="Status" class="form-control" />
            <span asp-validation-for="Status" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <select asp-for="EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId" ></select>
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DurationId" class="control-label"></label>
                <select asp-for="DurationId" class="form-control" asp-items="ViewBag.DurationId"></select>
                <span asp-validation-for="DurationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeavetypeId" class="control-label"></label>
                <select asp-for="LeavetypeId" class="form-control" asp-items="ViewBag.LeavetypeId"></select>
                <span asp-validation-for="LeavetypeId" class="text-danger"></span>
            </div>
            @* <div class="form-group">
            <label asp-for="CreatedBy" class="control-label"></label>
            <input asp-for="CreatedBy" class="form-control" />
            <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="CreatedOn" class="control-label"></label>
            <input asp-for="CreatedOn" class="form-control" />
            <span asp-validation-for="CreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="ModifiedBy" class="control-label"></label>
            <input asp-for="ModifiedBy" class="form-control" />
            <span asp-validation-for="ModifiedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="ModifiedOn" class="control-label"></label>
            <input asp-for="ModifiedOn" class="form-control" />
            <span asp-validation-for="ModifiedOn" class="text-danger"></span>
            </div>
            *@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }
    

}
